@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

nav {
    display: flex;
    padding: 1rem 2rem;
    margin: 0;
    width: 100vw;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    background-color: #f7f7f7;
}

ul {
    position: relative;
    margin-left: 65%; /* Use percentage for responsiveness */
    display: flex;
    list-style: none;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #000;
}

.icons {
    position: absolute;
    top: 30px;
    right: 60px;
    display: flex;
    list-style: none;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    ul {
        position: relative;
        right: 0;
        margin-top: 1rem;
        margin-left: 0; /* Reset margin-left for smaller screens */
    }

    .icons {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 1rem;
    }
}
