@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: block;
  
  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: grey;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}

.aboutinfo{
    
    max-width: 1450px; /* Adjust the value as needed */

    margin: 50px auto 0; 
  
}

ul{
  font-size: small;
  color: black;
}

.submitting{
  align-items: center;
}